Source: mininet
Section: net
Priority: extra
Maintainer: Bob Lantz <rlantz@cs.stanford.edu>
Standards-Version: 3.9.3
Build-Depends:
  debhelper (>= 7.0.50~),
  python-dev,
  python-pkg-resources,
  python-setuptools,
  help2man

Package: mininet
Architecture: any
Depends:
  openvswitch-switch,
  openvswitch-controller,
  telnet,
  python-networkx,
  ${misc:Depends},
  ${python:Depends},
  ${shlibs:Depends}
Description: Process-based network emulator
 Mininet is a network emulator which uses lightweight
 virtualization to create virtual networks for rapid
 prototyping of Software-Defined Network (SDN) designs
 using OpenFlow. http://openflow.org/mininet
