Source: mininet
Section: net
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.3
Build-Depends:
  debhelper (>= 7),
  python-dev,
  python-pkg-resources,
  python-setuptools

Package: mininet
Architecture: any
Depends:
  openvswitch-switch,
  openvswitch-controller,
  telnet,
  ${misc:Depends},
  ${python:Depends},
  ${shlibs:Depends}
Description: Process-based network emulator
  Mininet is a network emulator which uses lightweight
  virtualization to create virtual networks for rapid
  prototyping of Software-Defined Network (SDN) designs
  using OpenFlow. http://openflow.org/mininet
